html {
                background-color: rgb(245, 216, 223);
                display: flex;
                justify-content: center;
            }

            body {
                background-color: rgb(240, 206, 211);
                width: 800px;
                padding: 40px;
                border: 3px solid rgb(230, 131, 147);
                border-radius: 15px;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 15px;
            }

            h1, h2 {
                color: rgb(206, 48, 101);
                text-align: center;

            }

            p {
                font-size: 20px;
                text-align: justify;
                width: 70%;
            }

            #mensagem{
                display: none;
                text-align: center;
            }


            ul {
                margin-top: 0px;
            }

            li {
                font-size: 17px;
                margin: 10px;
                list-style: square;
            }

            img {
                border-radius: 20px;
            }

            table {
                background-color: rgb(241, 223, 232);
                padding: 20px;
                border: 2px solid rgb(230, 131, 147);
                border-radius: 15px;
            }

            td {
                border: 1px solid rgb(230, 131, 147);
                padding: 10px;
                text-align: center;
                border-radius: 15px;
            }

            .img-paises {
                width: 200px;
                height: 100px;
            }

            a {
                color: rgb(190, 29, 62);
                font-size: 17px;
            }

            a:hover{
                color: rgb(219, 28, 140);
            }